*{
    margin: 0;
}

html{
    height: 100%;
}
body {
    font-size: larger;
    color: rgb(0, 0, 0);
    height: 100%;
}

.container-div{
    background-color: rgb(146, 238, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
}

.cat404{
    margin-top: 3rem;
}

.footer{
    background-color: #435d9e;
}