*{
    border-color: red;
}

h1{
    color: rgb(94, 175, 94);
    font-family:"david";
    font-size:70px;
}

form{ 
    color: rgb(94, 175, 94);
    font-weight: bold;
    box-shadow: 13px -6px 6px -3px rgba(0,0,0,0.57)
}

#button1 {
    width: 270px;
    border-radius: 30px;
    line-height: 40px;
    background-color: rgb(94, 175, 94);
    color: white; 
    box-shadow: 0px 10px 13px -7px #000000 , 13px -6px 6px -3px rgba(0,0,0,0.57)
}

#textField {
    font-size:24px;
    background-color: rgb(255, 253, 153);
    color: rgb(211, 144, 155);
}

::placeholder {
    font-family: david;
    font-size: 20px;
}