    *{
        font-family: 'Rubik', 'Roboto', sans-serif;
    }

    body{
        margin: 0px;
    }
    
    #header-space{
        display:flex;
        flex-grow: inherit;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        vertical-align: middle;
        margin-top: 20px;
        align-items: center;
    }

    .notofications{
        margin: 0px;
        border-radius: 50%;
        background-color: #DB4700;
        width: 17px;
        text-align: center;
    }

    .fa-lock{
        margin: 10px 0px;
    }

    #cila-logo-pic{
        width: 25px;
        height: 25px;
        font-size: 24px;
    }

    #cover1{
        background-image:url(./photos4/hand.jpg);
        background-size: 40vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;   
        border-radius: 2mm;
        margin: 13px 10px 10px 10px;
        padding-bottom: 25px;
    }

    h1{
        color: white;
        padding: 30px;
        margin-top: 0px;
        font-size: 60px;
    }

    .shop-buttons{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #cilashop-button{
        width: 140px;
        height: 50px;
        background-color: #DB4700;
        color: white;
        border-radius: 1mm;
        font-weight: bold;
        border: transparent;
    }
    #cilashop-button:hover:active{
        opacity: 0.7;
    }

    #joincommunity-button{
        width: 140px;
        height: 50px;
        background-color: #DB4700;
        color: white;
        border-radius: 1mm;
        font-weight: bold;
        border: transparent;
    }
    #joincommunity-button:hover:active{
        opacity: 0.7;
    }

    .elements-inline{
        display: flex;
        margin: 0px;
    }

    .logo-margin-setting{
       margin: 4px 0px 0px 0px; 
    }

    .merch-rows{
        display: flex;
        justify-content: space-evenly;
        margin: 0px 10px;
    }

    .merch-pics{
        width: 70px;
        height: 80px;
        justify-content: center;
        margin: 15px;
        border-style:solid;
        border-width: thin;
    }

    .merchandise-describe-pt1{
        font-size: 10px;
    }

    .merchandise-describe-pt2{
        margin-top: 0px;
        color: #A7A7A7;
        font-size: 8px;
    }

    .merchandise-describe-pt3{
        font-size: 7px;
    }

    #shopall-button{
        background-color: #DB4700;
        color: white;
        margin: 33px calc(50% - 70px);
        width: 140px;
        height: 50px;
        border-radius: 1mm;
        font-weight: bold;
        border: transparent;
    }
    #shopall-button:hover:active{
        opacity: 0.7;
    }

    #cover2{
        background-image: url(./photos4/narutocover.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.7;
        display: flex; 
        justify-content: center;
        text-align: center;
        flex-direction:column;
        margin: 0px;
    }

    #ShopTheirWork-p1{
        padding: 22px;
        font-size: 40px;
        margin: 0px;
        color: white;
        font-weight: bold;

    }

    #ShopTheirWork-p2{
        margin: 0px;
        padding: 0px 15px 15px 15px;
        color: white;
        font-size: 15px;
    }


    #ShopTheirWork-button{
        background-color: white;
        color: #DB4700;
        width: 140px;
        height: 30px;
        border-radius: 1mm;
        font-weight: bold;
        border: transparent;
        margin-bottom: 30px;
    }
    #ShopTheirWork-button:hover:active{
        opacity: 0.7;
    }

@media only screen and ( min-width: 1024px ) {

    h1{
        color: white;
        padding: 30px;
        margin-top: 0px;
        font-size: 80px;
        margin-bottom: 0px;
        text-align: center;
    }

    #cover2{
        background-image: url(./photos4/narutocover4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.7;
        display: flex; 
        justify-content: center;
        text-align: center;
        flex-direction:column;
        margin: 0px;
    }

    #ShopTheirWork-p1{
        padding: 22px;
        font-size: 40px;
        margin: 0px;
        color: rgb(255, 255, 255);
        font-weight: bold;

    }

    #ShopTheirWork-p2{
        margin: 0px;
        padding: 0px 15px 15px 15px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 15px;
    }
}