<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tweet</title>
</head>
<body>
    <h1>im tweet</h1>
    <% tweets.forEach(tweet => { %>

        <h3><%= tweet.tweet %></h3>
        <h6>publisher Id: &nbsp; <%= tweet.publisherId %></h6>
        <hr>

    <% })%>
</body>
</html>