footer{
    display:flex ;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    color: white;
    opacity: 0.9;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.footer-text > h2{
    margin: 15px 0px;
}

.footer-text > h6{
    margin: 15px 0px;
}

.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.icon-container > a{
    color: rgb(224, 224, 224);  
    margin: 5px;  
}

a:hover i{
    color: rgb(24 119 242);
}
