*{
  padding: 0;
  margin: 0;
}

body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to right,#57c7ff, #00FF6C);
}

.App{
  display: flex;
  justify-content: center;
}

.calculator-screen{
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
  margin-top: 100px;
}

.previous-operand{
  color: rgba(255, 255, 255, .75);
  font-size: 1rem;
}

.current-operand{
  color: white;
  font-size: 1.5rem;
}

.calculator-keypad{
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  height: 200;
  align-content: center;
  justify-content: space-between;

}

.calculator-keypad > button{
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-keypad > button:hover{
  background-color: rgba(255, 255, 255, .90);
}

.calculator-keypad > button:focus{
  background-color: rgba(255, 255, 255, .90);
}

.button{
  width: 60px;
  height: 40px;
}

.big-button{
  width: 120px;
  height: 40px;
}

