*{
    font-family: 'Karantina', 'cursive';
}

header div{
    position: sticky;
    margin:10px
}

body h1, h2, h3, h4, h5, h5, h6{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}

.fa-whatsapp-square{
    position: absolute;
    margin-top: 50vh;
}