<head>
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
</head>

<table id="employees">
    <thead>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Date of birth</th>
        <th>Salary</th>
        <th>Email</th>
    </thead>
    <tbody>
        <tr>
          <td>{{employee.id}}</td>
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.dateOfBirth}}</td>
          <td>{{employee.salary}}</td>
          <td>{{employee.email}}</td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>{{employee1.id}}</td>
            <td>{{employee1.firstName}}</td>
            <td>{{employee1.lastName}}</td>
            <td>{{employee1.dateOfBirth}}</td>
            <td>{{employee1.salary}}</td>
            <td>{{employee1.email}}</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>{{employee2.id}}</td>
            <td>{{employee2.firstName}}</td>
            <td>{{employee2.lastName}}</td>
            <td>{{employee2.dateOfBirth}}</td>
            <td>{{employee2.salary}}</td>
            <td>{{employee2.email}}</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>{{employee3.id}}</td>
            <td>{{employee3.firstName}}</td>
            <td>{{employee3.lastName}}</td>
            <td>{{employee3.dateOfBirth}}</td>
            <td>{{employee3.salary}}</td>
            <td>{{employee3.email}}</td>
            <td><input type="checkbox"></td>
        </tr>
      </tbody>
</table>