#employees{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th{
    background-color: rgb(47, 161, 228);
    height: 25px;
}

td {
    border: hidden;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:nth-child(odd) {
    background-color: rgb(243, 240, 240);
}

tr:hover{
    background-color: gray;
}

td:nth-child(7){
    width: 10px;
    border: transparent;
    background-color: rgb(154, 220, 247);
}

.detail-table1{
    margin-top: 15px;
    margin-bottom: 15px;
}

