<head>
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
</head>

<body>
    <div class="employees-data-sheet">
        <table id="employees">
            <thead>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Date of birth</th>
                <th>Salary</th>
                <th>Email</th>
            </thead>
            <tr *ngFor="let employee of listOfEmployees" [class.selected] = "employee === selectedEmployee" (click)="onSelect(employee)">            
                <td>{{employee.id}}</td>
                <td >{{employee.firstName}}</td>
                <td >{{employee.lastName}}</td>
                <td >{{employee.dateOfBirth|date: 'dd/MM/yyyy'}}</td>
                <td >{{employee.salary |currency: 'ILS'}}</td>
                <td >{{employee.email}}</td>
                <td><input type="checkbox"></td>
            </tr>
        </table>

        <app-employee-detail [employee]="selectedEmployee"></app-employee-detail>
    </div>    
</body>
