<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head", {title : "Captain America"})%> 

<body>
    <h1 id="CA-h1">Captain America</h1>
    <div class="CA-BG-Image"></div>

    <div class="CA-container">
        <div id="CA-text">
            <div class="CA-text-section">
                <h2 id="CA-h2">Power And Abilities:</h2>
                <div>
                    <ul>
                        <li><p>battle experience and military training</p></li>
                        <li><p>expert tactician and field commander</p></li>
                        <li><p>cooperation with Avengers, X-Men, Fantastic Four, and other heroes</p></li>
                        <li><p>high fighting skill (aikido, boxing, karate, jujitsu, kickboxing, and gymnastics)</p></li>
                        <li><p>master of multiple martial arts and one of the best hand-to-hand combatants among the heroes</p></li>
                        <li><p>has a "near-indestructible shield"</p></li>
                        <li><p>the mantle of leadership falls naturally upon him, as though he was born to command</p></li>
                        <li><p>has unquenchable love for freedom and justice</p></li>
                    </ul>
                </div>
            </div>
            <div class="CA-text-section">
                <h2 id="CA-h2">Weapons and equipment:</h2>
                <div>
                    <ul>
                        <li><p>high-indestructible disc-shaped shield made</p></li>
                        <li><p>uniform which made of a fire-retardant material</p></li>
                        <li><p>lightweight, bulletproof duralumin scale armor for added protection</p></li>
                        <li><p>Avengers priority card, which serves as a communications device.</p></li>
                        <li><p>custom specialized motorcycle, modified by the S.H.I.E.L.D. weapons laboratory</p></li>
                        <li><p>custom-built battle van, with the ability to change its color for disguise purposes</p></li>
                    </ul>
                </div>
            </div>           
        </div>
        <div class="CA-profile-image-div">
            <!--future dev - inserting a profile pic-->
            <button class="back-to-main"><a href="/">Home</a></button>
        </div>
    </div>

</body>
</html>