<footer>
    <div class="container">
        <div class="footer-text">
            <h2>good to stay in touch:</h2>
            <p>You can contact us using the links below:</p>
        </div>
        <div class="icon-container"> 
            <a href="https://www.facebook.com/matan.shteren.31" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter" target="_blank"></i></a>
            <a href="mailto:matan.shtern2@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/matanshtern/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/matan_shteren1111/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i></a>       
        </div>
        <div class="copyrights">
            <p>copyrights &copy;2022 EJS-HomeWorks Designed by</p>&nbsp;<span>MatanSH</span> 
        </div>
    </div>











  

        <!-- <form action="signup" method="GET" class="sign-up">
            <fieldset id="footer-fieldset">
                <span class="span-border-bottom">
                    <label>full name:</label>&nbsp;
                    <input type="text" name="full_name" class="text-fields"><br>
                </span>
                <span class="span-border-bottom">
                    <label>mail:</label>&nbsp;
                    <input type="text" name="full_name" class="text-fields"><br>
                </span>
                <span>
                    <input type="text" name="text_box" placeholder="Type here" id="free-comment">
                </span>
            </fieldset>               
            <span>
                <input type="submit" id="footer-submit-button" value="submit">

            </i><a href="tel:+972527729909"><i class="fas fa-phone blacked-object" title="mobile-Icon"></i></a> &nbsp; +972 52-772-9909
            </div> -->



</footer>