#cardBG{
    width: 300px;
    height: 300px;
    background-color:rgb(66, 66, 66);
    position: absolute;
}

#cardBG.isFlipped {
    transform: rotateY(180deg);
}

#fronOfCard{
    width: 250px;
    height: 250px;
    background-color:rgb(252, 50, 50);
    transform: rotateY(180deg);
    transition: 2s;
    position: absolute;
    backface-visibility: hidden;
}

#backOfCard{
    width: 200px;
    height: 200px;
    background-color:rgb(204, 45, 218);
    transform: rotateY(180deg);
    position: relative;
    backface-visibility: hidden;
}