.detail-table{
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgb(181, 233, 253);
    border-radius: 2mm;
    border-style: solid;
    border-width: 0.2mm;
    max-width: 340px;
}

#employee-display-name{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 5px 0px;
    border-radius: 1mm;
}

.employee-detail-area{
    text-align: left;
    font-size: 20px;
}

input{
    width: 130px;
    margin-left: 10px;
}

#mailBtn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button{
    color: rgb(0, 0, 0);
    border-radius: 0.6mm;
    font-size: 0.8rem;
    margin: 5px;
    cursor: pointer;
    border-width: 0.1mm;
}

button:hover{
    background: rgb(181, 233, 253);
}