
    <div *ngIf="employee" class="detail-table">
        <h2 id="employee-display-name">{{employee.firstName}} {{employee.lastName}}</h2>
        <div class="employee-detail-area">
            <span>
                id: {{employee.id}}<br>
            </span>
            <label for="employee first name">employee first name:</label>
            <input id="employee-first-name" [(ngModel)] =  "employee.firstName" placeholder="israel"><br>

            <label for="employee last name">employee last name:</label>
            <input id="employee-last-name" [(ngModel)] = "employee.lastName" placeholder="israeli"><br>

            <label for="employee date of birth">employee date of birth:</label>
            <input id="employee-date-of-birth" [(ngModel)] = "employee.dateOfBirth" placeholder="1000" disabled><br>

            <label for="employee salary">employee salary:</label>
            <input id="employee-salary" [(ngModel)] = "employee.salary" placeholder="1000"><br>

            <label for="employee email">employee email:</label>
            <input id="employee-email" [(ngModel)] = "employee.email" placeholder="israel_israeli@gmail.com"><br>
            <div id="mailBtn">
            <button (click)="toggleMailDiv()">New Mail</button>    

            </div>         
        </div>
    </div>

    <div class="detail-table" *ngIf="displayMailDiv">
       <div *ngIf="employee">
            <form action="post">
                <label for="mail addressee">To:</label>
                <input id="mail-addressee" placeholder="{{employee.email}}" disabled><br>

                <label for="mail copy addressee">Cc:</label>
                <input id="mail-copy-addressee"><br>

                <label for="mail subject">Subject:</label>
                <input id="mail-subject"><br>
                    
                <label for="mail message">message:</label>
                <input id="mail-message" placeholder="Text here..."><br>

                <div id="mailBtn">
                    <button (click)="sentMailStatus()"><a href="mailto: {{employee.email}}">send mail</a></button>
                </div>
            </form>
       </div>                      
    </div>