.game-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    position:relative;
    margin: 5px;
    width: 50px;
    height: 50px;
    backface-visibility: visible;
    transform-style: preserve-3d ;
    cursor: pointer;
}

/* .card:hover{
    transition: transform 2s;  
    transform: rotateY(180deg);
} */

.card.flip{
    transition: transform 1s;  
    transform: rotateY(180deg);
}

/* .card-face--front{
    position: absolute;
    transform: rotateY(-180deg);
    width: 50px;
    height: 50px;
}

.card-face--front.flip-back{
    transform: rotateY(-180deg);
} */

.card-face--back{
    background-color: rgb(216, 68, 57);
    width: 50px;
    height: 50px;
}

#green{
    background-color: rgb(56, 221, 152);
}

#orange{
    background-color: rgb(221, 150, 56);
}

#pink{
    background-color: rgb(236, 127, 200);
}

#yellow{
    background-color: rgb(243, 228, 13);
}

#blue{
    background-color: rgb(13, 113, 243);
}

#violet{
    background-color: rgb(159, 13, 243);
}

#brown{
    background-color: rgb(116, 63, 27);
}

#black{
    background-color: rgb(0, 0, 0);
}