 <!-- <p>sendmail works!</p> -->


<div>check1</div>
 <div>
    <label for="mail addressee">To:</label>
    <input id="mail-addressee" {{employee.email}}><br>

    <label for="mail copy addressee">Cc:</label>
    <input id="mail-copy-addressee"><br>

    <label for="mail subject">Subject:</label>
    <input id="mail-subject"><br>

    <label for="mail message">message:</label>
    <input id="mail-message" placeholder="Text here..."><br>

    <div id="mailBtn">
    <button><a href="#">send mail</a></button>
</div>