<!-- <div class="detail-table" *ngIf="displayMailDiv">
    <div *ngIf="employee">
         <form action="post">
             <label for="mail addressee">To:</label>
             <input id="mail-addressee" placeholder="{{employee.email}}" disabled><br>

             <label for="mail copy addressee">Cc:</label>
             <input id="mail-copy-addressee"><br>

             <label for="mail subject">Subject:</label>
             <input id="mail-subject"><br>
                 
             <label for="mail message">message:</label>
             <input id="mail-message" placeholder="Text here..."><br>

             <div id="mailBtn">
                 <button (click)="sentMailStatus()"><a href="mailto: {{employee.email}}">send mail</a></button>
             </div>
         </form>
    </div>                      
 </div> -->