<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head", {title:"404 page"}) %>

<body>
    <div class="container-div">
        <h1>404</h1>
        <h2>we are sorry, this page was not found</h2> 
        <img src="/images/Cute-Cat.jpg" alt="cute cat" class="cat404">
    </div>  
</body>
</html>
