<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head", {title:"index"}) %>

<body>

    <%- include("../partials/navbar.ejs") %>
    <h1>hello <%= user.firstName %></h1>
    <p>with the last name <%= user.lastName %></p>
    <% if(user.admin == true) {%>
        <p>you are admin</p>
    <% } else{ %>
        <p>you are not admin</p>
    <% }  %>

</body>
</html>