<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>first try EJS</title>
</head>
<body>
    <h1>hello world <%= user.firstName %></h1>
    <p>with the last name <%= user.lastName %></p>
    <% if(user.admin == true) {%>
        <p>you are admin</p>
    <% } else{ %>
        <p>you are not admin</p>
    <% }  %>

</body>
</html>